*{ margin: 0px;
    padding: 0px;


}


.header{
    font-family: 'Lota' sans-serif;
    font-family: 'Open Sans', sans-serif;
    background: rgba(160, 22, 101, 0.1);
    display: flex;
    align-items: center;
    padding: 40px 40px 50px 140px;
   
}

.banner-container{
    display: flex;
    justify-content: space-around;
    height: 40vh;
    align-items:center;
   border:none 
   color: none;
   background-image: url(./flower.css),
   /*linear-gradient(90deg, rgb(8, 67, 101)*/
   

}
.title{
    font-size: 18px;
    font-weight: bold;
}
    
.description{    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 15px;
}
.btn{
padding: 10px 20px ;
background-color: rgb(220, 81, 169);
color:aliceblue;
border: none;
border-radius: 10px;

}
.banner-snd{
    display: flex;
    align-items: center;
    
}.root{
padding: 50px 100px;;

}
.head{font-size: 18px;
    font-weight: bold;

    display: flex;
    justify-content: space-around;
    height: 40vh;
    align-items:center;
   border:none 
   color: none;
   background-image: url(./flower.css),
   /*linear-gradient(90deg, rgb(8, 67, 101)*/
   



}
