nav{
    display:contents;

}
body{
    font-family: 'Lota' sans-serif;
    font-family: 'Open Sans', sans-serif;

}
.btn-primary{
    border-radius: 4px;
    background: #E55473;
    display: inline-flex;
    padding: 5px 10px;
    align-items: none;
    border: none;
}